.doQuestionPage {

  .at-article__h2 title {
    margin-top: 30rpx;
    font-size: 48rpx;
    line-height: 72rpx;
  }
  .options-wrapper {
    margin-bottom: 48px;
  }
  .controlBtn{
    margin:24px 48px;
  }


  .enterBtn{
    width: 60vw;
  }

  .headerBg{
    display: inline-block;
    height: 1024px;
    overflow: hidden;
    width: 768px;
  }
}
